@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox {
    max-height: 0px;
}

#sidebar-header {
    display: none;
}

#sidebar-box {
    max-width: 320px !important;
    min-width: 320px !important;
}

#TabsToolbar {
    visibility: collapse !important;
}

#TabsToolbar .tabbrowser-tab {
    display: none !important;
}

#nav-bar[inFullscreen],
#TabsToolbar[inFullscreen] {
    display: none;
}

#TabsToolbar>.titlebar-buttonbox-container {
    display: none !important;
}

#nav-bar,
#urlbar-container {
    width: 302px !important;
    left: 9px;
}

#nav-bar {
    display: flex;
    box-shadow: none !important;
    position: absolute !important;
    top: 10px;
    overflow: visible !important;
    height: 40px !important;
}

#urlbar-container {
    background-color: #00000000;
    display: flex;
    position: absolute !important;
    left: -6px;
    top: 40px;
    height: 30px !important;
}

#urlbar[breakout][breakout-extend] {
    width: 240% !important;
    box-shadow: none !important;
    transition: 0.2s all;
}

#urlbar-input {
    text-wrap: wrap !important;
    max-height: 100px !important;
    height: 100px !important;
}

#urlbar #urlbar-background,
#urlbar,
#urlbar-input-container,
#searchbar,
.searchbar-textbox {
    box-shadow: none !important;
    font-size: 12px;
}

#sidebar-splitter {
    display: none;
}

#appcontent browser {
    border-radius: 8px !important;
    margin: 5px 5px 5px 5px !important;
    border: 1px solid rgba(200, 200, 200);
    transition: border 0.3s ease;
    clip-path: circle(80%) !important;

    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
