#TabsToolbar {
    visibility: collapse !important;
}

#TabsToolbar .tabbrowser-tab {
    display: none !important;
}


#nav-bar {
    background: transparent !important;
}


#sidebar-header {
    display: none;
}

#urlbar-container {
    max-width: 1000px !important;
}

#personal-bookmarks,
#PlacesToolbar,
#PlacesToolbarItems {
    max-width: calc(50vw - 600px) !important;
}

#sidebar-splitter {
  width: 0px !important;
}

